#files

#dir
.idea/
.pytest_cache/
.app/__pycache__/
.app/auth/__pycache__/
.migrations/__pycache__/
.migrations/versions/__pycache__/
.ml/__pycache__/
.tests/__pycache__/
__pycache__/
py-tools/.ruff_cache/
py-tools/py-tools/.mypy_cache/

py-tools/